// .m-link-button {
//     position: absolute;
//     bottom: emCalc(20px);
//     right: emCalc(50px);
//     z-index: 40;
//     display: block;
//         a {
//             display: block;
//         }
//         &.inner-page-button {
//             right:emCalc(100px);
//             bottom:emCalc(-50px);
//         }
//         &.intro-button{
//             @extend .m-link-button;
//             bottom:emCalc(-80px);
//         }       
// }

.m-link-button {
    position: absolute;
    bottom: emCalc(-90px);
    right: 0;
    z-index: 40;
    display: block;
        a {
            display: block;
        }
        &.inner-page-button {
            right:emCalc(100px);
            bottom:emCalc(-50px);
        }
        &.intro-button{
            @extend .m-link-button;
            bottom:emCalc(-80px);
        }       
}


