@include all-sprite-sprites;

.sprite-phone {
    display: inline-block;
    height: 25px;
    line-height:25px;
    padding-left: 30px;
    width: auto !important;
}

.m-link-button {
    position: absolute;
    bottom: emCalc(20px);
    right: emCalc(50px);
    z-index: 40;
    display: block;
    a {
        display: block;
    }
}

.m-content-link-button{
    @extend .m-link-button;
    bottom:emCalc(-80px);
}       
 
.m-inner-page-link-button {
   @extend .m-link-button;
   right:emCalc(100px);
   bottom:emCalc(-50px);
}